body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(189, 169, 151);
}

h1{
    margin: 10px 0 auto;
}
h3{
    margin: 10px auto;
}
h4{
    margin:20px auto;
}

#title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(177, 31, 5);
    text-align: center;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PriceTable{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

 .list1 {
    width: 190px;
    height: 420px;
    margin-right: 10px;
    padding: 0 !important;
    background-color: rgb(218, 95, 146);
    float: left;
    box-shadow: 1px 1px 5px;
    text-align: center;
    transition: 0.9s;
 }

 .list2 {
    width: 190px;
    height: 420px;
    margin-right: 10px;
    padding: 0 !important;
    background-color: rgb(76, 160, 199);
    float: left;
    box-shadow: 1px 1px 5px;
    text-align: center;
    transition: 0.9s;
 }

 .list3 {
    width: 190px;
    height: 420px;
    margin-right: 10px;
    padding: 0 !important;
    background-color: rgb(223, 150, 55);
    float: left;
    box-shadow: 1px 1px 5px;
    text-align: center;
    transition: 0.9s;
 }

 .list4 {
    width: 190px;
    height: 420px;
    margin-right: 10px;
    padding: 0 !important;
    background-color: rgb(14, 187, 106);
    float: left;
    box-shadow: 1px 1px 5px;
    text-align: center;
    transition: 0.9s;
 }

.btn{
    background: rgb(44, 48, 44);
    color: ghostwhite;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 165px;
    height: 25px;
}

footer{
    margin-left: 500px;
}

